body {
    background-color: #282a36;
    color: #f8f8f2;
    font-family: 'Fira Code', monospace;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    box-sizing: border-box;
    background-color: #44475a;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 28px;
    font-weight: bold;
    margin: 0 0 20px;
    text-align: center;
    color: #f8f8f2;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #f8f8f2;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 20px;
    background-color: #44475a;
    color: #f8f8f2;
}

button {
    background-color: #bd93f9;
    color: #f8f8f2;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    display: block;
    margin: 0 auto;
}

button:hover {
    background-color: #ca6df2;
}

p {
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
    text-align: center;
    color: #f8f8f2;
}

#resultado {
    color: #bd93f9;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}
